<!DOCTYPE html>
<!-- Let the HTML page know that the language is english-->
<html lang="en">

    <head>
        <!-- Assign charater set and configure viewport so it is accessible on differing size devices-->
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <!-- Link the style.css sheet as the stylesheet for this document-->
        <link href="/static/styles.css" rel="stylesheet">

        <title>Conways Game Of Life</title>

        <script>
            // A function that is called when any button on the grid is clicked. The function
            // takes a parameter for the button id, and updates the color to either be black or white
            function Update(button) {
                // Get the button that was clicked
                let current = document.getElementById(button);
                let status;
                // Get the current color of that button
                let color = current.style.backgroundColor;
                // If the button is white, make it black, if its black, make it white.
                if (current.style.backgroundColor == 'white') {
                    current.style.backgroundColor = 'black';
                    status = false;
                } else {
                    current.style.backgroundColor = 'white';
                    status = true;
                }

                // Make a fetch call to the update route in app.py
                fetch('/update', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    // Send the buttons id and original color before modification
                    body: JSON.stringify({ button_id: button, color: color }),
                })
                // Make the response to a json
                .then(response => response.json())
                .then(data => {
                    // Take the alive statics returned from the python function, and update the innerhtml
                    // of the statistics element
                    let element = document.getElementById("stats")
                    element.innerHTML = element.innerHTML.replace(/Alive: \d+/, `Alive: ${data.alive}`)
                })
                // Catch any errors and report them to the console
                .catch((error) => {
                    console.error('Error:', error);
                });
            }
        </script>

        <script>

            // A function that calls the python step function to move up one generation,
            // and updates all of the buttons on the screen to match the new data.
            function Step() {
                // Get the data of the new grid from the step function
                fetch('/step', {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                })
                // Turn the data into a json
                .then(response => response.json())
                .then(data => {
                    // Set a constant board that is the new board value returned by the python function
                    const board = data.board;
                    // Loop through each button in the returned grid
                    for (let i = 0; i < board.length; i++) {
                        for (let j = 0; j < board[i].length; j++) {
                            // Get the button with the id representing the column and row values
                            let button = document.getElementById(`${i},${j}`);
                            // If the button value is true, set the button to be white
                            if(board[i][j] === true){
                                button.style.backgroundColor = "white";
                            }
                            // If the button value is false, set the button to be black
                            else {
                                button.style.backgroundColor = "black";
                            }

                        }
                    }
                    // Get the statistics data returned by the step function and update the innerhtml
                    // of statistics element.
                    let element = document.getElementById("stats")
                    element.innerHTML = ` Generation: ${data.generation}  &nbsp;&nbsp; Alive: ${data.alive}   &nbsp;&nbsp; Total Deaths: ${data.dead}`
                })
                // Catch an errors and report them to the console
                .catch(error => console.error('Error:', error));
            }
        </script>

        <script>
            // Set a global variable intervalID for intervals to be made by the Run and Pause function
            let IntervalID = null;
            function Run() {
                // Make sure there isnt an interval that exists already
                if (!IntervalID) {
                    // Save the current grid into recent_grid so it can be loaded by the previous
                    // function
                    fetch('/recent_grid', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                })
                // Make sure that the status code is what we expect it to be
                .then(response => {
                    if (response.status === 204){
                        console.log("Grid saved");
                    }
                });
                // Set an interval using the jinja variable timing
                    IntervalID = setInterval(Step, "{{ timing }}");
                }
            }

            // A function that will pause any ongoing runs.
            function Pause() {
                // Make sure that there is currently an intervalID that exists
                if (IntervalID) {
                    // Stop the interval, and set the ID to be null.
                    clearInterval(IntervalID);
                    IntervalID = null;
                }
            }

            // A function that calls a clear function in app.py to full reset the grid and stats
            function Clear() {
                fetch('/clear', {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                // Take the response and turn it into a json
                .then(response => response.json())
                .then(data => {
                    // If all went well and the call_function is true, then call Step() and pause any current intervals.
                    if (data.call_function){
                        Step();
                        Pause();
                    }
                });
            }

            // A function that loads the grid before running into the current play space.
            function Previous() {
                // Get the current grid from the load recent grid route in python
                fetch('/load_recent_grid', {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                })
                // Turn the response to a json
                .then(response => response.json())
                .then(data => {
                    // Perform a similar process to the step() function, however only load
                    // the function and do not step the function by one generation
                    const board = data.board;
                    for (let i = 0; i < board.length; i++) {
                        for (let j = 0; j < board[i].length; j++) {
                            let button = document.getElementById(`${i},${j}`);
                            if(board[i][j] === true){
                                button.style.backgroundColor = "white";
                            }
                            else {
                                button.style.backgroundColor = "black";
                            }

                        }
                    }
                    // Get the stats element and update the inner HTML to be all 0s.
                    let element = document.getElementById("stats")
                    element.innerHTML = ' Generation: 0  &nbsp;&nbsp; Alive: 0   &nbsp;&nbsp; Total Deaths: 0'
                    // Pause any current runs that are happening.
                    Pause();
                })
            }
        </script>

    </head>
    <body>
        <!-- Use the taskbar class to create a task bar at the top of the screen-->
        <div class = "TaskBar">
            <!-- Add all of the tools to the taskbar on the top using the images that are in the
                static folder-->
            <img class = "HomeIcon" src = "/static/home_icon.png" alt = "Home" width = 40px height = 40px>
            <img class = "RunIcon" src = "/static/run_icon.png" alt = "Run" width = 80px height = 40px>
            <img class ="PauseIcon" src = "/static/pause_icon.png" alt = "Run" width = 100px height = 40px>
            <img class = "StepIcon" src = "/static/step_icon.png" alt = "Step" width = 100px height = 40px>
            <img class = "PrevIcon" src = "/static/previous_icon.png" alt = "Previous" width = 100px height = 40px>
            <img class = "ClearIcon" src  = "/static/clear_icon.png" alt = "Clear" width = 100px height = 40px>
            <!-- Use RightIconsStart for the class of the settings icon so that all elements after it
            will appear on the right -->
            <img class = "RightIconsStart" src = "/static/settings_icon.png" alt = "Settings" width = 40px height = 40px>
        </div>

        <!-- Put all of the buttons inside of a customized scrollbar class-->
        <div class = "scrollbars">
            <!-- Separate the first button row using the first button row class since the first button row
            must be below the task bar-->
            <div class = "FirstButtonRow">
                <!-- Use jinja variables returned from the game route in the GET method.
                Iterate from 0 to columns and add a button each time, set the id to 0 comma the current
            value of the column iteration.-->
                {% for column in range(0,columns)%}
                <!--On click each button should submit its id as a parameter into the Update
                function-->
                <button id = "0,{{column}}" class = cell onclick = "Update('0,{{column}}')"></button>
                {%endfor%}
            </div>
            <!-- For the rest of the buttons, create an iteration for the 1 to jinja rows value.-->
            <!-- The iteration starts at 1 since 1 row already exists, and the jinja variable
            is returned in the "GET" method from the game route-->
            {%for row in range(1,rows)%}
            <!-- Each time create a new div element for a new row.-->
            <div class = "RestButtons">
                <!-- For each row, add the number of buttons specified by the columns value returned
                by the jinja variable-->
                {%for column in range(0,columns)%}
                    <!-- Make each button have an id that matches the format row,column.
                    On click each button should submit its id as a parameter into the Update
                function-->
                    <button id = "{{row}},{{column}}" class = cell onclick = "Update('{{row}},{{column}}')"></button>
                {%endfor%}
            </div>
            {%endfor%}
            <!-- Create a div element for stats at the bottom of the screen-->
            <div class = "stats">
                <!-- Have a bold element for statistics to be update by JavaScript functions-->
                <b id = "stats"> Generation: 0  &nbsp;&nbsp; Alive: 0   &nbsp;&nbsp; Total Deaths: 0</b>
            </div>
        </div>

        <script>
            // When the home icon is clicked, redirect the user to the home page
            document.querySelector(".HomeIcon").addEventListener("click", function(){
                window.location.href = "/"
            });
            // When the settings icon is clicked, redirect the user to the settings page
            document.querySelector(".RightIconsStart").addEventListener("click", function(){
                window.location.href = "/settings"
            });
            // For each icon make it called its matching function every click.
            document.querySelector(".StepIcon").addEventListener("click", Step);
            document.querySelector(".RunIcon").addEventListener("click", Run);
            document.querySelector(".PauseIcon").addEventListener("click", Pause);
            document.querySelector(".ClearIcon").addEventListener("click", Clear);
            document.querySelector(".PrevIcon").addEventListener("click", Previous);
        </script>
    </body>
</html>
